

<div class="container">
  <div class="contact">

  </div>
</div>







<!--
<div class="container">
  <div class="d-flex flex-column">
    <div class="card" style="width: min-content;">
      <a href="https://www.javascript.com/" target="_blank">
        <img          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/479px-WhatsApp.svg.png"
          class="card-img-top" alt="..."></a>
    </div>
    <div class="card" >
      <a href="https://developer.mozilla.org/es/docs/Glossary/HTML5" target="_blank"> <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/1200px-Gmail_icon_%282020%29.svg.png"
        class="card-img-top" alt="..."></a>
    </div>
    <div class="card" style="width: auto;">
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
        <img src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw">
      </a>
    </div>
    <div class="card" style="width: auto;">
      <a href="https://angular.io/" target="_blank">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Google_Maps_icon_%282015-2020%29.svg/1200px-Google_Maps_icon_%282015-2020%29.svg.png"
          class="card-img-top" alt="...">
      </a>
    </div>
  </div>
</div>
-->
