
.container {
  height: 1000px;
  width: 1000px;


}
.contact {
  height: 5rem;
  width: 5rem;
  background: white;
  border-radius: 50px;
}


.card {
  margin: 5px;
}

img {
  height: 120px;
  width: 120px;
}

.container {
  height: 200px;
}
