<div class="container">
  <form action="">
    <div class="">
      <label class="form-label">
        <i class="icon ion-md-person"></i>Name:
        <div class="data">Matias Exequiel Palaversich</div>
      </label>
    </div>
    <div class="">
      <label class="form-label">
        <i class="icon ion-md-time"></i>YearsOld:
        <div class="data">31 años</div>
      </label>
    </div>
    <div class="">
      <label class="form-label"><i class="icon ion-md-mail"></i>Email:
        <div class="data">matiaspalaversich@gmail.com</div>
      </label>
    </div>
    <div class="">
      <label class="form-label">
        <i class="icon ion-logo-linkedin"></i>Linkedin:
        <div class="data">Matias Palaversich</div>
      </label>
    </div>
    <div class="">
      <label class="form-label"><i class="icon ion-md-home"></i>Adress:
        <div class="data">Ciudad Autonoma de Buenos Aires - flores</div>
      </label>
    </div>
  </form>
</div>

<!--
<div class="">
   <form class="pl-5">
    <div class="mb-3 pt-5 pl-5 ml-4">
      <label class="form-label"><i class="icon ion-md-person"></i>Name: Matias Exequiel Palaversich</label>
    </div>
    <div class="mb-3">
      <label class="form-label"><i class="icon ion-md-time"></i>YearsOld: 31 años</label>
    </div>
    <div class="mb-3">
      <label class="form-label"><i class="icon ion-md-mail"></i>Email: matiaspalaversich@gmail.com</label>
    </div>
    <div class="mb-3 ">
      <label class="form-label"><i class="icon ion-logo-linkedin"></i>Linkedin: Matias Palaversich</label>
    </div>
    <div class="mb-3">
      <label class="form-label"><i class="icon ion-md-home"></i>Adress: Ciudad Autonoma de Buenos Aires - flores</label>
    </div>
  </form>

</div>
-->
