div.container {

  width: 100%;
  height: 90%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  height: 30rem;
  width: 27rem;
  background: #2d72de;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

form div {
  margin-left: 1rem;
  background: #2d72de;
}

.form-label {
  color: white;
  font-size: 20px;
}

i {
  zoom: 130%;
  margin-right: 10px;
}

.data {
  font-size: 23px;
  font-weight: bold;
}







