<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="https://midu.dev/images/wallpapers/una-taza-de-javascript.png"
           class="d-block w-100" alt="...">
      <div class="carousel-caption img1 d-flex d-md-block">
        <h1>Welcome to my Portfolio</h1>
      </div>
    </div>
    <div class="carousel-item ">
      <img src="https://midu.dev/images/wallpapers/typescript-small-4k-wallpaper.png"
           class="d-block w-100" alt="...">
      <div class="carousel-caption img2 d-flex d-md-block">
        <p class="fw-bolder font-monospace">I am looking for a company where I can develop and grow professionally, learning and contributing to the team
          everything I need to achieve the objectives. I leave the links of some of my works, if you have any questions
          you can contact me to chat with pleasure.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://wallpapercave.com/wp/wp8724850.jpg"
           class="d-block w-100" alt="...">
      <div class="carousel-caption d-flex d-md-block">
        <p>        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://midu.dev/images/wallpapers/web-technologies-4k-wallpaper.png"
           class="d-block w-100" alt="..">
      <div class="carousel-caption d-flex d-md-block">
        <h5 class="fw-bolder"></h5>
        <p></p>
      </div>
    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!--


  <div class="container text-center mt-5">

      <div class="carousel-item">
        <img src=""...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>I hope you enjoy and as much as i enjoy creating it.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to my Website</h5>
          <p>I hope you enjoy and as much as i enjoy creating it</p>
        </div>
      </div>
    </div>

          <h1>Welcome to my Website</h1>
          <p>I hope you enjoy and as much as i enjoy creating it</p>
          <p>This site is built with Angular, Bootstrap, HTML, CSS</p>
          <p class="bolder">Matias P.</p>

  </div>
  -->
