.carousel-caption.img1 {
  position: absolute;
  right: 15%;
  top: 5%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.carousel-caption.img1 h1{
  font-size: 5rem;
}

.carousel-caption.img2 {
  position: absolute;
  right: 15%;
  top: 20%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.carousel-caption.img2 p{
  font-size: 2rem;
  color: black;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 30%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

h5 {
  font-size: xxx-large;
  margin-bottom: 30px;
  color: #32CD32;
}
