<div class="d-flex">
  <div class="bg-dark" id="sidebar-container">
      <div class="logo">
        <h4 class="text-light fw-bold text-center pt-3">Dashboard</h4>
      </div>
      <div class="menu">
        <a href="/about" class="d-block text-light p-3"><i class="icon ion-md-apps lead"></i>About</a>
        <a href="/projects" class="d-block text-light p-3"><i class="icon ion-md-save lead"></i>Projects</a>
        <a href="/technologies" class="d-block text-light p-3"><i class="icon ion-md-analytics lead"></i>Technologies</a>
        <a href="/training" class="d-block text-light p-3"><i class="icon ion-md-attach lead"></i>Training</a>
        <a href="/contact" class="d-block text-light p-3"><i class="icon ion-md-chatbubbles lead"></i>Contact</a>
      </div>
  </div>
  <div class="container">
        <router-outlet routerLink=""></router-outlet>
  </div>
</div>
