<div class="d-flex col-12">
  <div class="col-xs-12 col-md-2" id="sidebar-container">
    <div class="logo">
      <a routerLink="/"><h4 class="text-light fw-bold text-center pt-3">Matias </h4></a>
    </div>
    <div class="menu">
      <a routerLink="about" class="d-block p-3"><i class="icon ion-md-apps lead"></i>About</a>
      <a routerLink="projects" class="d-block p-3"><i class="icon ion-md-save lead"></i>Projects</a>
      <a routerLink="technologies" class="d-block p-3"><i class="icon ion-md-analytics lead"></i>Technologies</a>
      <a routerLink="training" class="d-block p-3"><i class="icon ion-md-attach lead"></i>Training</a>
      <a routerLink="contact" class="d-block p-3"><i class="icon ion-md-chatbubbles lead"></i>Contact</a>
    </div>
  </div>
  <div class="col-xs-12 col-md-10 container">
    <router-outlet routerLink=""></router-outlet>
  </div>
</div>
