
<div class="container mt-5">

  <table class="table table-secondary">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Project</th>
      <th scope="col">Description</th>
      <th scope="col">visit website</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row"></th>
      <td>Cards</td>
      <td>HTML, CSS, BOOTSTRAP, SASS</td>
      <td><a href="https://bootstrap5-sass-palaversich.netlify.app/"  target="_black" ><button class="btn btn-success">View</button></a>
      </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Manager-School</td>
      <td>JavaScript, Angular, Express, Monogdb, Bootstrap, Type Scrip</td>
      <td><a href="https://indonesiaapp.surge.sh/"  target="_black" ><button class="btn btn-success">View</button></a>
      </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Starbucks</td>
      <td>JavaScrpt, CSS, HTML</td>
      <td><a href="https://matias785.github.io/"  target="_black" ><button class="btn btn-success">View</button></a></td>
    </tr>
    </tbody>
  </table>
<!--
  <div class="list-group w-75">
    <div class="list-group-item list-group-item-action d-flex">
      <a href="https://bootstrap5-sass-palaversich.netlify.app/"  target="_black" >
      <span class="fw-bolder text-start">Cards</span> : ></a>
      <button class="btn btn-success">go!!</button>
    </div>
    <a href="" class="list-group-item list-group-item-action" target="_blank">
      <span class="fw-bolder"></span>: t</a>
    <a href="" class="list-group-item list-group-item-action" target="_blank">
      <span class="fw-bolder">Starbucks</span>
      :    HTML, CSS, Javascript</a>
  </div>
</div>
-->
