<div class="container mt-5">
  <table class="table table-success table-striped text-center">
    <thead>
    <tr>
      <th scope="col">Link</th>
      <th scope="col">Description</th>
      <th scope="col">Technologies</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="https://bootstrap5-sass-palaversich.netlify.app/" target="_blank">Cards</a></td>
      <td>Maquetacion</td>
      <td>HTML; CSS; BOOTSTRAP; SASS</td>
    </tr>
    <tr>
      <td><a href="https://indonesiaapp.surge.sh/" target="_blank">Manager-School</a> </td>
      <td>Cominunidacos database</td>
      <td>Angular</td>
    </tr>
    <tr>
      <td ><a href="https://matias785.github.io/" target="_blank">Starbucks</a></td>
      <td>Tutorial</td>
      <td>HTML; CSS</td>
    </tr>
    </tbody>
  </table>

</div>
